.inputPasswordBlock{
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 343px;
  height: 52px;
  background: #F8F8F8;
}

.inputPassword {
  padding: 13px 16px;
  outline: none ;
  border: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: #F8F8F8;
  color: #212121;
  width: 305px;
  height: 52px;
}
.inputImg {
  cursor: pointer;
}